@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222131;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar {
  overflow: auto;
}
.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #f178f1dd;
  border-radius: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.mantine-Notifications-root {
  z-index: 5000 !important;
}
